hgroup h1 {
  padding-right: 7rem;
}

hgroup small {
  color: var(--pico-muted-color);
}

h2 {
  display: inline-block;
  font-size: 1.5rem;
}

label[for="theme"] {
  position: absolute;
  top: var(--pico-spacing);
  right: var(--pico-spacing);
}

label[for="theme"] [aria-label] {
  font-size: 1.5rem;
  margin-inline-end: .5rem;
}

label[for="theme"] input {
  margin-bottom: 0.5rem;
}

summary.header::after {
  height: 1.5rem;
}

summary.header h2 {
  margin-bottom: 0;
}

.inline-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--pico-spacing);
  row-gap: var(--pico-spacing);
  width: 100%;
}

fieldset {
  border: var(--pico-border-width) solid var(--pico-primary-underline);
  z-index: 0;
}

fieldset > label {
  font-size: .75rem;
  margin: auto !important;
  padding: 0 calc(var(--pico-spacing) / 2);
  text-align: center;
  vertical-align: middle;
}

fieldset select {
  margin: calc(var(--pico-border-width * -1));
}

table {
  --pico-form-element-spacing-horizontal: 0.4rem;
  --pico-form-element-spacing-vertical: 0.2rem;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody th {
  position: sticky;
  left: 0;
  z-index: 0;
}

th p,
td p {
  margin-bottom: 0;
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
  white-space: nowrap;
}

th select,
td select {
  background-position: center right .2rem !important;
  margin-bottom: 0;
}

th p + select,
td p + select,
td span + span {
  margin-top: .5rem;
}

/* TODO: figure out table fix without breaking sticky headers... rowspans? idk */
/* .overflow-auto {
  overflow: auto;
  width: 100%;
} */

/* TODO: better names */

select.clK,
select.sp,
select.spl,
select.apl {
  min-width: 7rem;
  /* max-width: 10rem; */
}

.spl-wrapper,
.apl-wrapper {
  display: block;
  position: relative;
}

.spl-wrapper select,
.apl-wrapper select {
  display: inline-block;
}

.spl-wrapper::before,
.apl-wrapper::before {
  display: inline-block;
  color: var(--pico-primary-focus);
  /* font-size: .5rem; */
  position: absolute;
  left: 0.25rem;
  top: -.25rem;
  /* height: 1rem; */
}

.spl-wrapper::before {
  /* content: "🅢"; */
  content: "♡";
}

.apl-wrapper::before {
  /* content: "🅐"; */
  content: "☆";
}

select.typeK {
  height: 4.5rem;
  padding-right: .5rem;
  white-space: normal;
  width: 7rem;
}

.sv {
  font-family: var(--pico-font-family-monospace);
  min-width: 4.5rem !important;
  width: 4.5rem !important;
}
